.form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	max-inline-size: 16.75rem;
	inline-size: 100%;
}

.form-group {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 0.625rem;
	font: var(--text1regular);
}

.form__label {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.form__input {
	padding-inline: 0.75rem;
	padding-block: 0.65625rem;
	border-radius: 0.625rem;
	border: 0.0625rem solid var(--grey);
	box-shadow: 0 0.25rem 1.125rem rgba(158, 168, 189, 0.31);
}

.form-group-wrapper {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	gap: 0.75rem;
}

.form-group-wrapper > .form-group {
	flex: 1;
	justify-content: space-between;
	max-inline-size: 8rem;
}

.form-group-wrapper > .form-group input {
	inline-size: 100%;
}

.form-group i {
	position: absolute;
	right: 0.75rem;
	bottom: 0.75rem;
}

.form-group-submit {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.form-group-submit p {
	font: var(--text2regular);
	margin: 0;
	text-align: center;
}

.form__input--disabled {
	border: 0.0625rem solid var(--grey2);
	background-color: var(--grey2);
	color: var(--grey);
	box-shadow: none;
}

@media screen and (min-width: 361px) {
	.form {
		max-inline-size: 300px;
	}

	.form-group-wrapper > .form-group {
		max-inline-size: 9rem;
	}
}